@tailwind base

@tailwind components

@tailwind utilities
    

.content
    margin-bottom: 4rem
    padding: 6rem 1rem 1rem

.header
    width: var(--width-container)
    max-width: 100%
    margin: 5rem auto


.web_title
    font-family: var(--font-title)
    font-size: 2rem
    padding: 4rem

