

.tag_container
    position: sticky
    height: 100%
    top: 0
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    width: 25%
    margin-top: 10rem
    font-size: var(--font-size-md)
    overflow-y: auto
    

.tag
    display: flex
    flex-direction: row

.tag_list
    display: flex
    justify-content: center
    flex-direction: column