

.tag_container
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    width: 25%
    font-size: var(--font-size-md)
    overflow-y: scroll
    

.tag
    display: flex
    flex-direction: row

.tag_list
    display: flex
    justify-content: center
    flex-direction: column